* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Itim', cursive;
}

body {
    background-color: #6CCCEC;
    color: black;
}

a {
    color: #000000bd;
    text-decoration: none;
}

#faixaint {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9DC5C;
}
    #faixaint img {
        height: auto;
        width: 36%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #faixa-espaco {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        animation-duration: 1.5s;
        animation-name: mov;
    }
        #faixa {
            display: flex;
            flex-direction: column;
            width: 60%;
        }   
    h1 {
        padding-bottom: 20px;
        font-size: 4.4vw;
        font-weight: bold;
    }
        h2 {
            font-size: 1.8vw;
            color: #000000bd;
            margin-bottom: 20px;
            line-height: 28px;
            font-weight: bold;
        }
            h2 + h3 {
                font-size: 1.3vw;
                color: #000000bd;
                font-weight: bold;
            }

main {
    animation-duration: 0.8s;
    animation-name: mov;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #principal {
        text-align: center;
        width: 90%; 
        margin: 50px 0;
    }

#one {
    background-color: #BA68C8;
}
section > img {
    border: 5px solid #BA68C8;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    margin-right: 3%;
}
h4 {
    margin: 50px 0;
    font-size: 25px;
    font-weight: normal;
    animation-duration: 1s;
    animation-name: slide1;
}
section div img {
    width: 130px;
    height: auto;
    margin-bottom: 30px;
}

input {
    border: none;
    padding: 13px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
    input[type="button"] {
        background-color: #BA68C8;
        color: white;
        box-shadow: 4px 5px #953ea5;
    }
        input[type="button"]:hover {
            color: black;
            transition: .3s;
        }
        input[type="button"]:active {
            box-shadow: 2px 3px #953ea5;
            transform: translateY(2px);
        }
    input[type="number"] {
        width: 80px;
    }
    input[type="radio"] {
        display: none;
    }
label {
    font-size: 22px;
    color: #000000bd;
} 
    .label-design {
        text-align: center;
        border-radius: 20px;
        background-color: white;
        padding: 11px;
        color: black;
        font-size: 24px;
        border: 4px solid white;
    }
        .label-design:hover {
            border: 4px solid #F9DC5C;
            transition: .2s;
        }
    input[type="radio"]:checked + .label-design {
        border: 4px solid #F9DC5C;
    }

#formulario {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-duration: 1s;
    animation-name: slide1;
}
#formulario + div {
    display: flex;
    justify-content: center;
}
#formulario-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
}
#formulario-img + section {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}
#formulario-img section, .number-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number-input {
    gap: 30px;
    display: none;
}
.number-input input {
    width: 130px;
}
.min {
    display: none;
}
#total {
    display: none;
}
    h6 {
        font-size: 40px;
        width: 130px;
        height: 130px;
        margin-bottom: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.botao {
    display: none;
}

.modal-content {
    border-radius: 25px;
}
h5 {
    font-size: 25px;
    font-weight: bold;
}
span {
    font-weight: bold;
    font-size: 18px;
}
.modal-body {
    padding: 0;
}
.modal-body img {
    width: 65px;
    height: auto;
    border: none;
    background-color: transparent;
}
.modal-body section + p {
    padding: 20px;
    font-size: 17px;
}
#modal-dentro .modal-body section {
    display: flex;
    align-items: center;
    background-color: #F9DC5C;
    padding: 20px;
    font-size: 20px;
}
#modal-fora .modal-body  section{
    display: flex;
    align-items: center;
    background-color: #FF7B79;
    padding: 20px;
    font-size: 20px;
}
.modal-footer {
    background-color: #ba68c8c5;
    font-weight: bold;
    border-radius: 0 0 25px 25px;
    font-size: 15px;
}

footer {
    background-color: #F9DC5C;
    text-align: center;
    padding: 5px 0;
}
    footer p {
        animation-duration: 0.8s;
        animation-name: mov;
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
        strong {
            display: flex;
            justify-content: space-around;
        }

@keyframes mov {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes slide1 {
    from {
        margin-left: -500px;
        opacity: 0%;
    }
    to {
        margin-left: 0 auto;
        opacity: 100%;
    }
}
@keyframes slide2 {
    from {
        margin-left: -500px;
        opacity: 0%;
    }
    to {
        margin-left: 0 auto;
        opacity: 100%;
    }
}
@keyframes slide3 {
    from {
        margin-left: -500px;
        opacity: 0%;
    }
    to {
        margin-left: 0 auto;
        opacity: 100%;
    }
}
@keyframes slide4 {
    from {
        margin-left: -500px;
        opacity: 0%;
    }
    to {
        margin-left: 0 auto;
        opacity: 100%;
    }
}

@media screen and (min-width: 1300px){
    #faixa-espaco {
        width: 90.1%;
    }
    h1 {
        font-size: 4.44vw;
    }
    h2 {
        font-size: 1.9vw;
        line-height: 33px;
    }
    h2 + h3 {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 1441px){
    h2 {
        line-height: 45px;
    }
}

@media screen and (max-width: 1096px){
    #faixa-espaco {
        width: 85%;
    }
    #faixa {
        width: 46%;
    }
    h1{
        font-size: 5vw;
    }
    h2 {
        font-size: 2vw;
        line-height: 26px;
    }
    h2 + h3 {
        font-size: 1.6vw;
    }
    #faixaint img  {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #faixa {
        width: 46%;
    }
    h2 {
        line-height: 20px;
    }
    #formulario-img {
        gap: 50px;
    }
}

@media screen and (max-width: 689px) {
    #faixaint{
        padding-bottom: 30px;
    }
    #faixa-espaco {
        justify-content: center;
        width: 70%;
    }
    #faixa, #faixaint img  {
        width: 100%;
    }
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 3.5vw;
        line-height: 28px;
    }
    h2 + h3 {
        font-size: 2.8vw;
    }

    strong {
        flex-direction: column;
        gap: 5px;
    }
    #footer {
        order: 1;
    }
}

@media screen and (max-width: 450px) {
    #faixa-espaco {
        width: 86%;
    }
    h1{
        font-size: 10.5vw;
    }
    h2 {
        font-size: 5vw;
        line-height: 26px;
    }
    h2 + h3{
        font-size: 4vw;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 12vw;
    }
    h2 {
        line-height: 22px;
    }

    #principal > div > section {
        display: flex;
        flex-wrap: nowrap;
    }
}